body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('d2f16531bde974464ad7ab74dc335790dbdebffa-1192x668.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-container {
    background-color: rgba(255, 255, 255, 0.7);
    /* Semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin: 0 0 15px 0;
    font-size: 1.5em;
    text-align: center;
}

.contact-form label {
    margin: 10px 0 5px 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}